---
extends: default

ignore: |
  roles/vendor/

rules:
  line-length:
    max: 80
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
    level: warning
  braces:
    max-spaces-inside: 1
